h1{
    font-size: 65px;
    font-family:sans-serif
}
#cor{
    color: orange;
}
ul{
    background-color: greenyellow;
    text-align: center;
    line-height: 40px;
}
.novacor{
    background-color: palegreen;

}
p{
    font-weight: 600;
    font-size: 48px;
    font-style: italic;
    text-decoration: underline;
}

body{
    font-size: 16px;
}
#yellow{ 
    background-color: yellow;
}
#red{
    background-color: red;
}
#brown{
    background-color: brown;